@import url('https://fonts.googleapis.com/css2?family=Alef:wght@400;700&display=swap');

:root{
    --black: rgb(44, 44, 44);    
    --red: #FE3535;
}

html{
    overflow-x: hidden;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Alef', sans-serif;
}

.outerBox{
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider{
    overflow: hidden;
}

.slider figure{
    width: 500%;
    margin:0;
    position: relative;
    left:0;
    animation: slider 45s infinite;
}

.slider figure img{
    width: 20%;
    float:left;
}

@keyframes slider {
	0% {
		left: 0;
	}
	20% {
		left: 0;
	}
	25% {
		left: -100%;
	}
	45% {
		left: -100%;
	}
	50% {
		left: -200%;
	}
	70% {
		left: -200%;
	}
	75% {
		left: -300%;
	}
	95% {
		left: -300%;
	}
	100% {
		left: -400%;
	}
}

header{
    background-color: var(--black);
    width: 100vw;
    height: 11vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav{
    width: 50vw;
    height: 11vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logo{
    width: 11vh;
    height: 11vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    background-color: var(--black);
}

.logo img{
    height: 9vh;
    width: auto;
    cursor: pointer;
}

header nav button{
    width: 10vw;
    height: 9vh;
    border: none;
    background: none;
    color: white;
    font-size: 3vh;
    font-weight: 700;
    cursor: pointer;
}

header nav button:hover{
    transition: 1s ease;
    color: var(--red);
}

.social{
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.name{
    height: 4vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.name p {
    color: white;
    font-size: 1.5vh;
}


