@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@600&display=swap');

:root{
    --red: #E21C41;
    --black: #161618;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
body{
    overflow-x: hidden;
}

header{
    width: 100vw;
    height: 11vh;
    background-color: var(--black);
    display: flex;
    justify-content: flex-end;
}

nav{
    width: 15vw;
    height: 11vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.menu svg{
    height: 5.07vh;
    width: auto;
    padding: 1vh;
    cursor: pointer;

    border: 1px solid transparent;
}

.btn{
    height: 5vh;
    padding: 1vh;
    position: relative;
    bottom: 1px;
    border: 1px solid var(--red);
    background: none;
    color: white;
    font-size: 2vh;
    cursor: pointer;
}

.menu svg:hover{
    border: 1px solid var(--red);
    transition: 1s ease;
}

.btn:hover{
    color: var(--red);
    transition: 1s ease;
}

.box{
    width: 100vw;
    height: 44.5vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.art img{
    height: 30vh;
    width: auto;
}

.art{
    padding: 1vh;
    border: 1px solid transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}


.white{
    background-color: white;
    color: var(--black);
}

.black{
    background-color: var(--black);
    color: white;
}

.art:hover{
    border: 1px solid var(--red);
    transition: 1s ease;
    color: var(--red);
}

.titleBox{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5vh;
    font-size: 2vh;
}

.text h1, p{
    padding: 1vh;
}

.img img{
    height: 30vh;
    width: auto;
}

.list{
    display: flex;
    justify-content: space-evenly;
}

.list ul{
    padding: 3vh;
}

.listTitle{
    font-weight: bold;
    font-size: 2vh;
}

.arrow svg{
    height: 2vh;
    width: auto;
}

#rect1, #rect2, #rect3{
    fill:white;
}

.textBox{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

footer{
    width: 100vw;
    height: 35vh;
    background-color:var(--black); 
    color: white;
}

.footerContent{
    width: 100vw;
    height: 30vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.yearName{
    width: 100vw;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6vh;
}

#name a:hover{
    color: var(--red);
    transition: 1s ease;
}
#name a{
    color: white;
    cursor: pointer;
    text-decoration: none;
}

.footerBox {
    width: 20vw;
    height: 25vh;
    color: white;
}

footer h1{
    font-size: 2vh;
}

footer ul{
    font-size: 1.5vh;
    list-style: none;
}

footer ul li{
    padding: 1vh;
    cursor: pointer;
}

footer ul li a:hover{
    transition: 1s ease;
    color: var(--red);
}

footer ul li a{
    color: white;
}

.socialMedia{
    width: 15vw;
}

.icon{
    height: 2vh;
    width: auto;
    position: relative;
    top: 0.7vh;
}

.socialMedia ul li:hover{
    color: var(--red);
    transition: 1s ease;
}

#menuExpand{
    width: 25vw;
    height: 25vh;
    background-color: var(--black);
    position: absolute;
    left: 100%;
}