footer ul, #menuExpand ul{
    font-size: 1.5vh;
    list-style: none;
}

footer ul li{
    padding: 1vh;
    cursor: pointer;
}

footer ul li a:hover, #menuExpand ul li a:hover{
    transition: 1s ease;
    color: var(--red);
}

footer ul li a{
    color: white;
}

.socialMedia{
    width: 15vw;
}

.icon{
    height: 2vh;
    width: auto;
    position: relative;
    top: 0.7vh;
}

.socialMedia ul li:hover{
    color: var(--red);
    transition: 1s ease;
}

#menuExpand{
    width: 10vw;
    height: 30vh;
    background-color: var(--black);
    position: absolute;
    left: 120%;
    border: 1px solid white;
    color: white;;
}

.italic{
    font-style: italic;
}

#menuExpand ul li a{
    color: white;
    cursor: pointer;
    text-decoration: none;
}

#menuExpand ul li, #menuExpand h1{
    padding: 1vh;
    font-size: 2vh;
}

#menuExpand h1{
    font-size: 2.3vh;
}