@import url('https://fonts.googleapis.com/css2?family=Alef:wght@400;700&display=swap');

$red: #FE3535;
$black: #1f1f1f;
$font: 'Alef', sans-serif;
$normal: 1.9vh;
$bold: 700;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font;
}

@mixin flex($direction, $justify, $align){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin button(){
    height: 8vh;
    width: auto;
    border: none;
    border-bottom: 2px solid transparent;
    background:none;
    font-size: $normal;
    font-weight: $bold;
    color: white;
    cursor: pointer;
}

html{
    height: 100vh;
    overflow-x: hidden;
}

.header{
    z-index: 1;
    position: absolute;
    width: 100vw;
    height: 11vh;
    nav{
        @extend .header;
        @include flex(row, space-evenly, center);
        position: relative;
        .left{
            width: 30vw;
            height: 9vh;
            @include flex(row, left, center);
            .logo{
                width: auto;
                height: 9vh;
                img{
                    width: auto;
                    height: 8vh;
                    cursor: pointer;
                }
            }
        }
        .right{
            @include flex(row, space-evenly, center);
            width: 70vw;
            height: 9vh;
            button{
                @include button();
                &:hover{
                    transition: 0.6s ease;
                    border-bottom: 2px solid white;
                }
            }
            #svg{
                svg{
                    height: 4vh;
                    width: auto;
                    cursor: pointer;
                    &:hover{
                        transition: 0.6 ease;
                        transform-origin: center;
                        transform: translateY(-2px);
                    }
                }
            }
        }

    }
}

.slider {
	overflow: hidden;
    figure {
        position: relative;
        width: 500%;
        margin: 0;
        left: 0;
        animation: 45s slider infinite;
        img {
            z-index: 0;
            width: 20%;
            float: left;
        }
        @keyframes slider {
            0% {
                left: 0;
            }
            20% {
                left: 0;
            }
            25% {
                left: -100%;
            }
            45% {
                left: -100%;
            }
            50% {
                left: -200%;
            }
            70% {
                left: -200%;
            }
            75% {
                left: -300%;
            }
            95% {
                left: -300%;
            }
            100% {
                left: -400%;
            }
        }
    }
}

footer{
    width: 100vw;
    height: 3.75vh;
    animation: color 45s infinite;
    background-color: #811814;
    @include flex(row, center, center);
    p{
        font-size: $normal;
        font-weight: $bold;
        color:white;
    }
    @keyframes color{
        0%{
            background-color: #811814;
        }
        22%{
            background-color: #811814;
        }
        25%{
            background-color: #FAC140;
        }
        47%{
            background-color: #FAC140;
        }
        50%{
            background-color: #FE5F1F;
        }
        72%{
            background-color: #fe5F1F;
        }
        75%{
            background-color: #FE7AA1;
        }
        97%{
            background-color: #FE7AA1;
        }
        100%{
            background-color: #811814;
        }
    }
}




