@import url('https://fonts.googleapis.com/css2?family=Alef:wght@400;700&family=Rubik+Mono+One&family=Rubik:wght@700&display=swap');

$red: #FE3535;
$black: #1f1f1f;
$blue: #1DB4FF;
$font: 'Rubik', sans-serif;
$normal: 1.9vh;
$bold: 700;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font;
}

body{
    background-color: $black;
}

@mixin flex($direction, $justify, $align){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin button(){
    height: 8vh;
    width: auto;
    border: none;
    border-bottom: 2px solid transparent;
    background:none;
    font-size: $normal;
    font-weight: $bold;
    color: white;
    cursor: pointer;
}

html{
    overflow-x: hidden;
}

.header{
    z-index: 1;
    width: 100vw;
    height: 11vh;
    nav{
        @extend .header;
        @include flex(row, space-between, center);
        position: relative;
        .left{
            width: 30vw;
            height: 9vh;
            @include flex(row, left, center);
            .logo{
                @include flex(row, center, center);
                width: auto;
                height: 9vh;
                img{
                    width: auto;
                    height: 8vh;
                    cursor: pointer;
                }
            }
        }
        .right{
            @include flex(row, space-evenly, center);
            width: 70vw;
            height: 9vh;
            button{
                @include button();
                &:hover{
                    transition: 0.6s ease;
                    border-bottom: 2px solid white;
                }
            }
            .other{
                display: none;
                button{
                    @include button();
                    &:hover{
                        transition: 0.6s ease;
                        border-bottom: 2px solid white;
                    }
                }
            }
            #svg{
                svg{
                    height: 4vh;
                    width: auto;
                    cursor: pointer;
                    &:hover{
                        transition: 0.6 ease;
                        transform-origin: center;
                        transform: translateY(-2px);
                    }
                }
            }
        }

    }
}

.container{
    width: 100vw;
    height: 89vh;
    @include flex(row, center, center);
    .outerBox{
        width: 85vw;
        height: 70vh;
        border: 1px solid gray;
        .text{
            width: 85vw;
            height: 10vh;
            color: white;
            @include flex(column, space-evenly, center);
            h2{
                height: 6vh;
                font-size: 2.5vh;
                @include flex(row, center, center);
            }
            p{
                @include flex(row, center, center);
                font-size: $normal;
                height: 4vh;
                button{
                    @extend p;
                    border: none;
                    background: none;
                    color: white;
                }
            }
        }
        .innerBox{
            width: 85vw;
            height: 60vh;
            @include flex(row, center, center);
            form{
                width: 75vw;
                height: 55vh;
                border: 1px solid gray;
                @include flex(column, space-evenly, center);
                font-size: 2vh;
                input{
                    width: 70vw;
                    height: 5vh;
                    border: 1px solid gray;
                    outline: none;
                    background: none;
                    color: white;
                    &::placeholder{
                        position: relative;
                        left:2px;
                        color: rgb(129, 129, 129);
                        font-size: 2vh;
                    }
                    &:focus::placeholder{
                        color: $blue;
                    }
                    &:focus{
                        transition: 0.5s ease;
                        border: 1px solid $blue;
                    }

                    &:-webkit-autifill::first-line{
                        font-family: $font;
                    }
                    &:-webkit-autofill,
                    &:-webkit-autofill:hover, 
                    &:-webkit-autofill:focus, 
                    &:-webkit-autofill:active
                    {
                    -webkit-box-shadow: 0 0 0 30px $black inset !important;
                    -webkit-text-fill-color: white;
                    font-family: $font;
                    }
                }
                .submit{
                    width: auto;
                    padding: 0 1.5vh;
                    height: 5.5vh;
                    border-radius: 25px;
                    color: $blue;
                    cursor: pointer;
                    &:hover{
                        transition: 0.6s ease;
                        border: 1px solid $blue;
                    }
                }
            }
        }
    }
}

footer{
    width: 100vw;
    height: 3.75vh;
    @include flex(column, space-evenly, center);
    .extra{
        display: none;
        width: 100vw;
        height: 15.09vh;
        button{
            @include button();
        }
    }
    p{
        font-size: $normal;
        font-weight: $bold;
        color:white;
    }
}

@media only screen and (width: 412px), (height: 914px){
    .header{
        nav{
            .left{
                width: 25vw;
                .logo{
                    img{
                        width: 25vw;
                        height: auto;
                    }
                }
            }
            .right{
                width: 75vw;
            }
        }
    }
    .container{
        .outerBox{
            .text{
                h2{
                    font-size: 2vh;
                }
                p{
                    font-size:1.7vh;
                }
            }
        }
    }
}
@media only screen and (max-width: 1023px){
    footer{
        height: 10vh;
        .extra{
            @include flex(row, space-evenly, center);
            height: 7.5vh;
        }
        p{
            height: 2.5vh;
        }
    }
}
@media only screen and (min-width: 1024px){
    .header{
        nav{
            .right{
                .other{
                    display: block;
                }
            }
        }
    }
}

@media only screen and (width: 1848px), (height: 949px){
    .header{
        nav{
            .left{
                width: 15vw;
                .logo{
                    img{
                        width: 12vw;
                        height: auto;
                    }
                }
            }
            .right{
                button{
                    font-size: 3vh;
                }
            }
        }
    }
    .container{
        .outerBox{
            height: 80vh;
            width: 45vw;
            .text{
                height: 15vh;
                width: 45vw;
                h2{
                    font-size: 3vh;
                }
                p{
                    font-family: 2.5vh;
                }
            }
            .innerBox{
                width: 45vw;
                height: 65vh;
                form{
                    width: 40vw;
                    height: 60vh;
                    input{
                        width: 35vw;
                        height: 5vh;
                        font-size: 2.3vh;
                    }
                }
            }
        }
    }
}

@media only screen and (width: 280px),(heigth: 653px){
    .header{
        nav{
            height: 9vh;
            .left{
                .logo{
                    img{
                        width: 25vw;
                        height: auto;
                    }
                }
            }
        }
    }
}

